.main {
    background-color: #fff;
    border-radius: 5px;
    margin: 8px;
    padding: 16px;
    width: calc(100% - 16px);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    display: flex;
}

#form input {
    margin: 8px;
}

#form label {
    margin: 8px;
}

li {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.status-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.duration-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#delete-button {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#edit-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
}